@model List<Kuafor>

<!DOCTYPE html>
<html>
    <head>
        <title>Landing Page</title>
    </head>
    <body>
        <p>
            <form asp-controller="Account" asp-action="Login" method="get">
                <button type="submit">Login</button>
            </form>
            <form asp-controller="Account" asp-action="Register" method="get">
                <button type="submit">Register</button>
            </form>
        </p>
        <h1>Kuaforler</h1>
        <table border="1"body>
            <thread>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                </tr>
            </thread>
            <tbody>
                @foreach (var kuafor in Model)
                {
                    <tr>
                        <td>@kuafor.id</td>
                        <td>@kuafor.name</td>
                    </tr>
                }
            </tbody>
        </table>
    </body>
</html>