@model List<Barber>
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html>
    <head>
        <title>Landing Page</title>
    </head>
    <body>
        <p>
            @if (SignInManager.IsSignedIn(User))
            {
                if (User.IsInRole("Admin"))
                {
                    <form asp-controller="Account" asp-action="AdminDashboard" method="post">
                        <button type="submit">Admin Dashboard</button>
                    </form>
                }

                if (User.IsInRole("RegisteredUser"))
                {
                    <form asp-controller="Account" asp-action="MyProfile" method="post">
                        <button type="submit">My Profile</button>
                    </form>
                }

                <form asp-controller="Account" asp-action="Logout" method="post">
                    <button type="submit">Logout</button>
                </form>

            }
            else
            {
                <a href="/Account/Login">Login</a>
                <a href="/Account/Register">Register</a>
            }
        </p>
        
        <h1>Berberler</h1>

        <div class="container mt-4">
            @foreach (var barber in Model)
            {
                <partial name="_BarberCard" model="barber" />
            }
        </div>
    </body>
</html>